/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1.8;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* ここにCSSを書いてデザインを入れよう */

/* boxの高さ、幅に border-width と padding を含める */
* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
strong{
  font-weight: bold;
}
h1{
  font-size:38px;
}
h2{
  font-size:32px;
}
h3{
  font-size:28px;
}
h4{
  font-size:24px;
}
h5{
  font: size 20px;
}
body {
  color: #444;
  background-color: #aaa;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100px;
  background-color:whitesmoke;
}
main{
  width: 67%;
  padding: 0px 15px;
  float:right;
}
article{
  line-height :35px;
  padding: 15px;
  background-color: rgb(214, 214, 201);
}
article a{
  text-decoration: underline;
}
aside{
  width:33%;
  padding-left: 15px;
  float: left;
}
footer{
  display: inline-block;
  width:980px;
  padding: 10px;
  background-color: bisque;
}
section{
  width: 50%;
  height: 400px;
  padding: 20px;
  float: right;
  background-color: cornflowerblue;
  }

small{
  background-color: greenyellow;
  height: 100px;
  width: 980px;
}
/* 全体を真ん中に配置 */
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: #666;
  box-shadow: rgba(0, 0, 0, .4) 0 0 8px;
  overflow: hidden; // floatを使った場合の対策
}
/*global-nav*/
.global-nav{
  width: 100%;
  background-color: rgb(42, 148, 0);
}
.global-nav__items{
  display: flex;
  background-color: blueviolet;
}
.global-nav__item{
  height: 70px;
  flex: 1;
  background-color: rgb(149, 220, 183);
}
.global-nav__item:nth-child(odd) .global-nav__link{
  background-color: blue;
}
.global-nav__item:nth-child(even) .global-nav__link{
  background-color:red;
}
.global-nav__link{
  display:flex;
	align-items: center;
  justify-content: center;
  height:70px;
  padding:0px 20px;
  background-color: blanchedalmond;
}
/*bread*/
.bread-crumbs{
  width: auto;
  background-color: rgb(50, 200, 70);
}
.bread-crumbs__items{
  display: flex;
}
.bread-crumbs__items li:not(:last-child)::after{
  content: ">";
  display: block;
  padding: 10px;
}
.bread-crumbs__item {
  display:flex;
	align-items: center;
  float:left;
  background-color: blueviolet;
}
.bread-crumbs__link{
  display:flex;
	align-items: center;
  float:left;
  height:30px;
  margin-left:10px;
}
/*top-ad*/
.top-ads{
  display: inline-block;
  width: auto;
  background-color: aqua;
}
.top-ads__items{

}
.top-ads__item {
  float: left;
  padding:15px 0px 0px 15px;
  width:33%;
}
.top-ads__image{
  width: 100%;
}
.top-ads__link{
  background-color:burlywood;
}
/*article*/
.article__title{
  display:flex;
	align-items: center;
  height: 50px;
  padding: 30px;
  background-color: aquamarine;
}
.article__paragraph{
  padding: 15px 0px;
}
.article__sub-title{
  display:flex;
	align-items: center;
  background-color: coral;
}
.article__unorder-list{
  list-style: disc;
  padding-left: 20px;
}
.article__unorder-list__item{
}
.article__blockquote{
  padding: 10px 0px;
}
.article__blockquote-paragraph{
  padding:10px 0px;
}
.article__sub-sub-title{
}
.article__order-list{
  list-style-type: decimal;
  padding-left: 20px;
}
.article__order-list__item{
}
.article__image{
  width:100%;
}
/*form*/
label{
  background-color: aqua;
  padding: 5px;
}
input, .form-item__radio, .form-item__checkbox, {
  background-color: darkorange;
  display:flex;
	align-items: center;
}
.form-item__text-input, .is-password, .form-item__textarea, .form-item__select-pull-down, .form-item__select-list-option {
  width: 65%;
  border-radius: 3px;
  display:flex;
	align-items: center;
}
textarea{
  height: 100px;
}
.form{
  background-color: aquamarine;
}
.form__title{
  padding:20px;
}
.form-item{
  width: 100%;
  background-color: mediumpurple;
}
.form-item__label{
  background-color: blueviolet;
  width: 30%;
  padding-right: 20px;
  float: left;
  text-align: right;
}
.form-item__inline-item{
  background-color: gold;
}
.form-item__radio, .form-item__checkbox{
  background-color: greenyellow;
  border-radius: 3px;
  padding: 5px 15px;
  margin: 10px;
  text-align: center;
  float: left;
}
.form-item__radio{
  background-color: #EEEEEE;
}
.form-item__checkbox{
  background-color: #dddddd;
}
.form-item__actions-items input{
  background-color:red;
  width: 50%;
    display:flex;
	align-items: center;
  justify-content: center;
}
.form-item__actions-item{
  float: left;
  width: 32%;
  background-color: hotpink;
}
.form-item__select-pull-down, .form-item__select-list-option{
  margin-bottom: 0.5px;
  border-radius: 3px;
  background-color: #EEEEEE;
}
.form-item__file{
  background-color: darkmagenta;
  padding: 10px 20px;
}
/*local-nav*/
.local-nav{
  padding: 10px;
  background-color: indianred;
}
.local-nav__items{
  background-color: aqua;
}
.local-nav__link{
  padding: 5px;
  background-color: whitesmoke;
}
/*footer*/
.footer-nav{
  display: flex;
  width: 50%;
  height: 400px;
  float: left;
  background-color: deeppink;
  padding: 20px 0px 0px 20px;
}
.footer-nav__items{
  padding-right:20px;
  float: left;
}
.footer-nav__items li::before{
  content: ">";
  display: inline;
  padding: 10px;
}
/*aobut-author*/
.about-author{
  background-color: aqua;
}
.about-author__term{
  background-color: blueviolet;
  width: 90px;
  padding-right: 10px;
  float: left;
  text-align: right;
}
.about-author__description{
  background-color: brown;
}
.about-author__title{
  background-color: crimson;
  font-size: 16px;
}
.about-author__image{
  width:25%;
}
.about-author dl{
  background-color: khaki;
  padding: 20px;
  width: 75%;
  float: right;
}