/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1.8;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* ここにCSSを書いてデザインを入れよう */

/* boxの高さ、幅に border-width と padding を含める */
* {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
a{
  text-decoration: none;
}
strong{
  font-weight: bold;
}
h1{
  font-size:38px;
}
h2{
  font-size:32px;
}
h3{
  font-size:28px;
}
h4{
  font-size:24px;
}
h5{
  font: size 20px;
}
body {
  color: #444;
  background-color: #aaa;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100px;
  background-color:whitesmoke;
}
main{
  width: 67%;
  padding: 0px 16px; 
  float: right;
}
article{
  line-height :35px;
  padding: 15px;
  background-color: #dddddd;

}
article a{
  text-decoration: underline;
}
.aside{
  width:33%;
  float: left;
}
.aside-ads__image {
  width: 100%;
  padding: 16px 0px 0px 16px;
}
footer{
  display: inline-block;
  width:980px;
  padding: 10px;
  background-color :#444444;
}
section{
  width: 50%;
  padding: 10px;
  float: right;
  background-color: #CCCCCC;
  border-radius: 6px;
  font-size:10px;
  }

.footer-copyright{
  background-color: #444;
  width: 100%;
  height: 60px;
  display:flex;
	align-items: center;
  justify-content: center;
  clear: both;
  color: #fff;
}

img{
  vertical-align: bottom;
}

.bread-crumbs__link, .local-nav__link, .footer-nav__link {
  color:white;
}

/* 全体を真ん中に配置 */
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: #666;
  box-shadow: rgba(0, 0, 0, .4) 0 0 8px;
  overflow: hidden; // floatを使った場合の対策
}
/*global-nav*/
.global-nav{
  width: 100%;
  background-color: white;
}
.global-nav__items{
  display: flex;
}
.global-nav__item{
  height: 70px;
  flex: 1;
  background-color: rgb(149, 220, 183);
}
.global-nav__item:nth-child(odd) .global-nav__link{
  background-color :#d0d0d0;
}
.global-nav__item:nth-child(even) .global-nav__link{
  background-color:#b0b0b0;
}
.global-nav__link{
  display:flex;
	align-items: center;
  justify-content: center;
  height:70px;
  padding:0px 20px;
  background-color: blanchedalmond;
  color:white;
}
/*bread*/
.bread-crumbs{
  width: auto;
  background-color: #5e5e5e;
}
.bread-crumbs__items{
  display: flex;
}
.bread-crumbs__items li:not(:last-child)::after{
  content: ">";
  display: block;
  padding: 10px;
  color: #fff;
}
.bread-crumbs__item {
  display:flex;
	align-items: center;
  float:left;
}
.bread-crumbs__link{
  margin-left:10px;
}
/*top-ad*/
.top-ads{
  padding: 16px;
  background-color: #ccc;
}
.top-ads__items{
  display: flex;
  margin: 0px -8px;
}
.top-ads__item {
  float: left;
  padding: 0px 8px 0px 8px;
  width: 33.33%;
}
.top-ads__image{
  width: 100%;
}
/*article*/
.article__title{
  display:flex;
	align-items: center;
  height: 50px;
  padding: 30px;
  /* background-color: #dddddd; */
  background-color: aquamarine;
}
.article__paragraph{
  padding: 15px 0px;
}
.article__sub-title{
  display:flex;
	align-items: center;
  background-color: coral;
}
.article__unorder-list{
  list-style: disc;
  padding-left: 20px;
}
.article__unorder-list__item{
}
.article__blockquote{
  padding: 10px 0px;
}
.article__blockquote-paragraph{
  padding:10px 0px;
}
.article__sub-sub-title{
  font-size: 20px;
  padding-top:20px;
}
.article__order-list{
  list-style-type: decimal;
  padding-left: 20px;
}
.article__order-list__item{
}
.article__image{
  width:100%;
}
/*form*/
label{
  /* background-color: aqua; */
  padding: 5px;
}
input{
  border-radius: 3px;
}
.form-item__text-input, .is-password, .form-item__textarea {
  width: 65%;
}
.form-item__select-pull-down, .form-item__select-list-option{

}
textarea{
  height: 200px;
}
.form{
  background-color: white;
}
.form__title{
  padding:20px;
}
.form-item{
}

.form-item::after {
  clear: both;
  content: "";
  display: block;
}

.form-item__label{
  width: 30%;
  padding-right: 30px;
  float: left;
  text-align: right;
}
.form-item__inline-item{
  background-color: gold;
}
.form-item__radio, .form-item__checkbox{
    border-radius: 3px;
    float: left;
    padding: 4px 10px;
    margin: 15px 19px 8px 0px;
    border: 0.2px solid gray;
}
.form-item__radio{
  background-color: #EEEEEE;
}
.form-item__checkbox{
  background-color: #dddddd;
}
.form-item__actions-item{
  float: left;
  width: 32.5%;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  height: 28px;
}
.form-item__select-pull-down, .form-item__select-list {
  margin-bottom: 0.5px;
  border-radius: 3px;
  background-color: #EEEEEE;
  width: 65%;
}
.form-item__select-list-option{
  padding-bottom: 1px
}
.option.form-item__select-list-option {
  border-bottom: 0.1px solid gray;
  padding: 8px 10px;
}
.form-item__file{
  width: 65%;
  padding: 5px;
  background-color: #eee;
  border: 0.5px solid gray;
}
.is-submit, .is-reset{
  color: #444444;
}
/*local-nav*/
.local-nav{
  margin-left: 16px;
  height: 180px;
  border-radius: 3px;
  padding-left: 0px;
}
.local-nav__items{
  height: 180px;
  padding-top: 16px;
  overflow: auto;
}
.local-nav__item{
  margin: 1px 0px 0px 0px;
  padding: 8px;
  background-color :#999999;
  width: 100%;
  border-radius: 3px;
}
 .local-nav__items.is-current{
  display: block;
  padding-left: 12px;
  width:100%;
  font-size: 20px;
}
/*footer*/
.footer-nav{
  width: 50%;
  float: left;
  padding: 10px 0px 0px 10px;
}
.footer-nav__items{
  padding-right:10px;
  float: left;
}
.footer-nav__items li::before{
  content: ">";
  display: inline;
  padding: 10px;
  color:#fff;
}
/*aobut-author*/
.about-author__term{
  width: 90px;
  padding-right: 20px;
  float: left;
  text-align: right;
}
.about-author__description{
  display: flex;
}
.about-author__title{
  font-size: 16px;
}
.about-author__image{
  width:15%;
  border-radius: 50%;
}
.about-author dl{
  padding: 1px;
  width: 75%;
  float: right;
}